body{
    height: 100%;
    width: 100%;
 }
.topImage{
    height: 320px;
    width: 1300px;
    margin-top: 30px;
    border-radius: 20px;
    opacity: 0.9;
	box-shadow: 0px 0px 0px 0px #3e2723;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.topImage:hover{
	height: 325px;
    width: 1305px;
	box-shadow: 5px 5px 5px 5px #5d4037;
	-webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}	
 /* Add a black background color to the top navigation */
.topnav {
    width: 1300px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    margin-top:5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c0392b;
    color: white;
    border-radius:5px;
    margin:5px;
  }
  .topnav a.active:hover{
    background-color: #ddd;
    color: black;
  }
  #inActive{
    border-radius:5px;
    margin:5px;
    background:
  }
#bottomLayout{
     height: auto;
     width: 1260px;
     border-radius: 10px;
     opacity: 0.9;
     background-color: #ffffff;
     margin-top: 5px;
	   padding: 20px;	
	   border-style: dashed;
     border-radius: 10px;
     border-color: #b61827;
 }
 #logout{
     float: right;
     background: #c0392b;
     color: white;
     border-radius:5px;
     margin:5px;
 }
 #logout:hover{
    background-color: #ddd;
    color: black;
 }
 input[type=submit] {
    width: 10em;
    height: 2.5em;
    background-color: #c0392b;
    color: #ffffff; 
    padding: 5px;
    border-radius: 10px;
}
input[type=submit]:hover {
    width: 10em;
    height: 2.5em;
    background-color: #92190c;
    color: #ffffff; 
    padding: 5px;
    border-radius: 10px;
}
#formHeading{
    padding-top: 20px;
}
#searchForm{
    padding-bottom: 50px;
}
#rowHeading{
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0392b;
    font-weight: italic;
}
#input{
    border-color: #c0392b;
    border-radius: 5px;
    width: 180px;
    height: 20px;
}